.container {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #242424;
  padding: 50px 100px;
}
